<div fxFlexFill fxLayout="column">
    <div fxFlex="0 1 80px" fxLayout="row" fxLayoutAlign="start center">
        <div class="mat-h2" fxFlex="1 0" i18n style="margin: 0">Map Projects</div>
        <app-button-box fxFlex="1 1"></app-button-box>
    </div>
    <mat-card fxFlex="1 1" style="overflow-y:scroll; padding: 0">
        <div *ngIf="!mapProjectReferences || mapProjectReferences?.length == 0" style="padding: 10px">
            <span i18n>No map projects have been created yet.</span>
        </div>
        <mat-selection-list *ngIf="mapProjectReferences?.length > 0"
                            [(ngModel)]="selectedMapProjectReferences"
                            (ngModelChange)="mapProjectReferenceSelected($event)"
                            [compareWith]="compareMapProjectReferences"
                            [multiple]="false"
                            fxFlexFill>
            <mat-list-option *ngFor="let mapProjectReference of mapProjectReferences" [value]="mapProjectReference">
                <mat-icon mat-list-icon matTooltip="{{mapProjectStateTooltip(mapProjectReference.state)}}"
                          style="width:18px"
                          svgIcon="map-project-state:{{mapProjectReference.state}}"></mat-icon>
                <div>{{mapProjectReference.name}}</div>
                <div style="font-size: smaller; color: #b3b3b3">{{mapProjectReference.id}}</div>
            </mat-list-option>
        </mat-selection-list>
    </mat-card>
</div>