<div>
    <div fxLayout="row">
        <div class="mat-h2" fxFlex="1 0 0" i18n>Map Projects</div>
        <app-button-box fxFlex="1 1 1"></app-button-box>
    </div>
    <mat-selection-list (ngModelChange)="loadMapProject($event)" [ngModel]="[currentMapProject?.id]"
                        [multiple]="false">
        <mat-list-option *ngFor="let mapProjectReference of mapProjectReferences" [value]="mapProjectReference.id"
                         class="mat-body">
            <mat-icon mat-list-icon style="width:18px"
                      matTooltip="{{mapProjectStateTooltip(mapProjectReference.state)}}"
                      svgIcon="map-project-state:{{mapProjectReference.state}}"></mat-icon>
            <div>{{mapProjectReference.name}}</div>
            <div style="font-size: smaller; color: #b3b3b3">{{mapProjectReference.id}}</div>
        </mat-list-option>
    </mat-selection-list>
    <div *ngIf="mapProjectReferences?.length == 0" class="mat-body">
        <span i18n>No map projects have been created yet.</span>
    </div>
</div>