<div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
    <button (click)="createMapProject()" [matTooltip]="addImg.alt" color="primary" mat-mini-fab>
        <img #addImg alt="Add map project" i18n-alt src="./assets/actions/add.svg">
    </button>
    <button (click)="deleteMapProject(currentMapProject.id)" [disabled]="isDeleteDisabled()" color="primary"
            [matTooltip]="deleteImg.alt" mat-mini-fab>
        <img #deleteImg alt="Delete map project" i18n-alt src="./assets/actions/delete.svg">
    </button>
    <button (click)="launchMapProjectRendering(currentMapProject)" [disabled]="isLaunchRenderingDisabled()"
            [matTooltip]="launchImg.alt" color="primary" mat-mini-fab>
        <img #launchImg alt="Launch map rendering" i18n-alt src="./assets/actions/launch-rendering.svg">
    </button>
    <button (click)="downloadRenderedMapFile(currentMapProject.id)" [disabled]="isDownloadDisabled()" color="primary"
            [matTooltip]="downloadImg.alt" mat-mini-fab>
        <img #downloadImg alt="Download rendered map" i18n-alt src="./assets/actions/download.svg">
    </button>
</div>