<div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
    <button (click)="createMapProject()" color="primary" mat-mini-fab>
        <img alt="Add map project" src="./assets/actions/add.svg">
    </button>
    <button (click)="deleteMapProject(currentMapProject.id)" [disabled]="isDeleteDisabled()" color="primary"
            mat-mini-fab>
        <img alt="Delete map project" src="./assets/actions/delete.svg">
    </button>
    <button (click)="launchMapProjectRendering(currentMapProject)" [disabled]="isLaunchRenderingDisabled()"
            color="primary"
            mat-mini-fab>
        <img alt="Launch map rendering" src="./assets/actions/launch-rendering.svg">
    </button>
    <button (click)="downloadRenderedMapFile(currentMapProject.id)" [disabled]="isDownloadDisabled()" color="primary"
            mat-mini-fab>
        <img alt="Download rendered map" i18n-alt src="./assets/actions/download.svg">
    </button>
</div>