<div [formGroup]="form" fxLayout="column">
    <div [@detailExpand]="!expanded ? 'expanded' : 'collapsed'"
         class="collapsable" fxLayout="column">
        <span style="padding-top: 4px">{{elementName()}}</span>
    </div>
    <div [@detailExpand]="expanded ? 'expanded' : 'collapsed'" class="collapsable" fxFlexAlign="start stretch"
         fxLayout="column">
        <div formGroupName="location" fxLayout="row" fxLayoutAlign="stretch center" fxLayoutGap="10px">
            <mat-form-field fxFlex="1 0 120px">
                <mat-label i18n>Horizontal Position</mat-label>
                <input (keydown.enter)="$event.target.blur()" decimals="0" formControlName="x" matInput numeric
                       required>
                <span matSuffix>mm</span>
            </mat-form-field>
            <mat-form-field fxFlex="1 0 120px">
                <mat-label i18n>Vertical Position</mat-label>
                <input (keydown.enter)="$event.target.blur()" decimals="0" formControlName="y" matInput numeric
                       required>
                <span matSuffix>mm</span>
            </mat-form-field>
        </div>
    </div>
</div>