.color-selector-container span {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    margin: 8px 0 8px 0;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
}

.color-field-background {
    z-index: 1;
}

.color-field {
    z-index: 2;
}

.color-field-border {
    z-index: 3;
    border-color: #7f7f7f;
}

color-sketch {
    width: 200px;
    height: 300px;
}